

<!-- <mat-card *ngFor="let data of getMenuData()">
  <mat-card-header>
     <mat-card-title style="font-size: 20px;">{{data.movie_name}}</mat-card-title>  -->
     <!-- <div class="form-group"> -->
      <!-- <ngb-rating [formControl]="ctrl" max="6" [rate]="4"></ngb-rating>
      <div class="form-text small">
        <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
        <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
      </div>
    </div> -->
    <!-- <div class="form-group">
    <p-rating [(ngModel)]="data.average_rating" [cancel]="false"></p-rating>
     </div>
  </mat-card-header>
   <mat-card-content *ngIf="!collapsed">
      <p>
         Movie Crew:{{data.movie_crew}}
      </p>
      <p>
         Movie Genre:{{data.movie_genre}}
      </p>
    </mat-card-content>
    <mat-card-actions >
       <button mat-button  class="btn btn-default btn-xs" (click)="collapsed=false">OPEN DETAIL</button>
       <button mat-button (click)="collapsed=true">CLOSE DETAIL</button>
       <button class="btn btn-default btn-xs" >LIKE</button>
       <button mat-button >COMMENT</button>
    </mat-card-actions>
 </mat-card> -->
 

 
  <h1 style="margin-left: 35%;">  Movie List </h1>
  <div class="card promoting-card" *ngFor = "let item of movies" style="width :40% ;margin-left: 25%;margin-top: 2%;">
    <div class="card-body d-flex flex-row">
      <div>
        <h4 class="card-title font-weight-bold mb-2">{{item.movie_name}}</h4>
        <h5 class="mb-1"> average_rating : {{item.average_rating}}</h5>
      </div>
    </div>
    <!-- Card image -->
    <div class="view overlay">
      <p class="card-body">Your Rating:
      <p-rating  [(ngModel)]="item.individual_rating" [cancel]="false" (onRate)="onRate($event,item.movie_id)"></p-rating>
    </p>
      <!-- <img class="card-img-top rounded-0"style="width :40%; height:50%; margin-left :20%" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{item.poster_path}}" alt="Card image cap"> -->
      <div class="card-body d-flex flex-row">
      <h6 class="mb-1" style="margin-top: 10px;">crew : {{item.movie_crew}}</h6>
</div>
<p class="card-body">Genre : {{item.movie_genre}}</p>

    </div>
  </div>
  <!-- Card -->